.created {
    color: var(--sub-color);
    text-align: center;
}

.heading {
    color: var(--sub-color);
}

.credit-name {
    color: var(--sub-color);
}

.credit-name :hover {
    color: var(--sub-alt-color);
}