header #logo .text {
  font-size: 2.5rem;
  font-weight: unset;
  line-height: 2rem;
  margin-block-end: unset;
  margin-block-start: unset;
  margin-top: -0.23em;
  position: relative;
  transition: color .25s;
}

header #logo .text .top {
  color: var(--sub-color);
  font-size: .240em;
  left: 0.35em;
  line-height: .240em;
  position: absolute;
  transition: color .125s, opacity .125s;
}

header #logo .icon {
  align-items: center;
  background-color: transparent;
  display: grid;
  width: 2.5rem;
}